body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
}
.main-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 80px;
}
.main-inner {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    gap: 24px;
    padding-top: 64px;
    min-width: 400px;
    max-width: 1280px;
}

.tabcontent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 24px;
}


.section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0px;
    padding: 0px;
    flex-wrap: nowrap;

    color: rgba(9, 139, 153, 1);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.section-name {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-wrap: nowrap;
}

.h-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(9, 139, 153, 1);
    border-radius: 2px;
}

.field-name {
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    
    & > .field-name-main {
        color: rgba(9, 139, 153, 1);
    }
    & > .field-name-hint {
        color: rgba(183, 189, 190, 1);
    }
  }

.product-checkbox {
    margin: 10px;
}

.products-page-button {
    
    width: max-content;
    padding: 8px;
    background-color: white;
    border: 2px solid rgba(9, 139, 153, 1);
    color: rgba(9, 139, 153, 1);
    font-weight: bold;
    border-radius: 4px;
}

.products-page-button:hover {
    width: max-content;
    padding: 8px;
    background-color: rgba(9, 139, 153, 1);
    border: 2px solid rgba(9, 139, 153, 1);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.signature {
    color: rgba(148, 153, 154, 1);
    font-size: 14px;
    font-weight: 400;
}

.product-image {
    width: 200px;
}

.product-div {
    margin: 20px 5px;
    width: max-content;
}

.products-div {
    display: flex;
    flex-wrap: wrap;
}

.sliderContainer {
    width: 200px;
}

.slider {
    appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    transition: opacity .2s;
    -webkit-appearance: none;  
    -webkit-transition: .2s;
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: rgba(9, 139, 153, 1); 
    cursor: pointer; 
}